@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #24292e;
  }

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}

.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

/* ヘッダー */
#header {
    max-width: 960px;
    height: 270px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
}

#header .site-title {
    line-height: 0;
}

#header .site-title a {
    display: block;
}

#header ul {
    display: flex;
    padding: 10px 0;
}

#header li {
    font-size: 0.9rem;
    margin-left: 30px;
}

#header li a {
    color: #24292e;
}

#header li a:hover {
    opacity: 0.7;
}

#header li img {
    width: 20px;
}

/* Mainvisual */
#mainvisual {
    margin-bottom: 80px;
}

#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 420px;
    object-fit: cover;
}

/* About */
#about ul {
    margin-bottom: 30px;
}

#about li:first-child {
    margin-bottom: 30px;
}

#about p {
    text-align:justify;
}

/* Works */
#works ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#works li {
    width: calc(100% / 3);
    padding: 0 10px;
    margin-bottom: 23px;
}

/* News */
#news dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#news dt {
    width: 20%;
    border-top: solid 1px #c8c8c8;
    padding: 15px;
}

#news dt:last-of-type {
    border-bottom: solid 1px #c8c8c8;   
}

#news dd {
    width: 80%;
    border-top: solid 1px #c8c8c8;
    padding: 15px;
}

#news dd:last-of-type {
    border-bottom: solid 1px #c8c8c8;   
}

/* Contact */
#contact dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#contact dt {
    width: 15%;
}

#contact dd {
    width: 85%;
    margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
    width: 100%;
    border: solid 1px #c8c8c8;
    padding: 10px;
}

#contact dd textarea {
    height: 10rem;
}



#contact .btn {
    text-align: center;
}

#contact .btn input {
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;
}

#footer {
    font-size: 0.5rem;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width: 600px) {
    .wrapper {
        margin-bottom: 70px;
    }

    .sec-title {
        margin-bottom: 40px;
    }

    #header {
        flex-direction: column;
        height: auto;
        max-width: 100%;
    }

    #header .site-title {
        margin-top: 20px;
    }

    #header li {
        font-size: 0.8rem;
        margin-left: 20px;
    }

    #header li:first-child {
        margin-left: 0;
    }

    #works ul {
        flex-direction: column;
    }

    #works li {
        width: 100%;
        padding: 0;
    }

    #news dt {
        width: 100%;
        padding-bottom: 0;
    }

    #news dt:last-of-type {
        border-bottom: none;
    }

    #news dd {
        width: 100%;
        border-top: none;
        padding-top: 0;
    }

    #contact dl {
        flex-direction: column;
    }

    #contact dd {
        width: 100%;
        
    }
}